@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Cedarville+Cursive&family=Butterfly+Kids&family=Chathura&Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

.u-no-margin {
  margin: 0; }

.u-no-padding {
  padding: 0; }

.u-container-title {
  display: grid;
  place-items: center;
  font-size: 16px;
  color: #030303;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600; }

.u-container-title-xl {
  display: grid;
  place-items: center;
  font-size: 18px;
  color: #030303;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600; }

.u-border-bottom {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 30px; }

.u-margin-bottom {
  margin-bottom: 30px; }

.u-margin-bottom-sm {
  margin-bottom: 15px; }

.u-padding-bottom {
  padding-bottom: 30px; }

.u-margin-top-reverse {
  margin-top: -100px; }

.u-padding-none {
  padding: 0; }

.u-padding-left-sm {
  padding: 0;
  padding-left: 15px; }

.navbar-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
  padding: 15px 0; }
  .navbar-1__logo {
    font-size: 4.5rem;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-family: "Butterfly Kids", cursive;
    line-height: 1.2;
    padding-top: 8px; }
  .navbar-1__navigation {
    position: relative;
    display: flex; }
    .navbar-1__navigation a {
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
      margin: 0 8px;
      font-size: 30px;
      color: #000;
      font-weight: 600;
      font-family: "Chathura", sans-serif; }
      .navbar-1__navigation a:hover {
        color: #ff4800; }
    .navbar-1__navigation a.active {
      color: #ff4800; }

.sidebar-category {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover; }

.sidebar__about {
  margin-bottom: 40px; }
  .sidebar__about__image {
    margin-bottom: 20px; }
    .sidebar__about__image img {
      height: auto;
      width: 100%;
      object-fit: cover; }
  .sidebar__about__desc {
    font-size: 16px; }
  .sidebar__about__signature {
    font-size: 30px;
    font-family: "Cedarville Cursive", cursive;
    margin: 10px 0;
    display: grid;
    place-items: center; }

.sidebar__popular {
  margin-bottom: 40px; }
  .sidebar__popular__child {
    margin-bottom: 20px; }
  .sidebar__popular__image {
    margin-bottom: 15px; }
    .sidebar__popular__image img {
      height: 180px;
      width: 100%;
      object-fit: cover; }
  .sidebar__popular__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding-bottom: 5px; }
    .sidebar__popular__tags span {
      color: #90bab5;
      position: relative;
      text-transform: uppercase;
      margin-right: 25px;
      font-weight: 600; }
      .sidebar__popular__tags span:not(:last-child):after {
        content: ".";
        position: absolute;
        height: 5px;
        right: -15px;
        width: 5px;
        transform: translateY(100%);
        border-radius: 50%;
        background-color: #90bab5; }
  .sidebar__popular__title {
    display: grid;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: "Bungee Hairline", cursive;
    text-decoration: none;
    color: #000;
    line-height: 1.2; }
    .sidebar__popular__title:hover {
      text-decoration: none;
      color: #ff4800; }

.sidebar__title {
  font-size: 18px;
  height: 50px;
  width: 100%;
  background-color: #f4f8f8;
  margin-bottom: 20px;
  display: grid;
  place-items: center; }
  .sidebar__title span {
    text-transform: capitalize; }

.sidebar__recent {
  margin-bottom: 40px; }
  .sidebar__recent__child {
    margin-bottom: 20px;
    display: flex; }
  .sidebar__recent__image {
    margin-right: 15px; }
    .sidebar__recent__image img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      object-fit: cover; }
  .sidebar__recent__tags {
    display: flex;
    align-items: center;
    font-size: 9px; }
    .sidebar__recent__tags span {
      color: #90bab5;
      position: relative;
      text-transform: uppercase;
      margin-right: 25px;
      font-weight: 600; }
      .sidebar__recent__tags span:not(:last-child):after {
        content: ".";
        position: absolute;
        height: 5px;
        right: -15px;
        width: 5px;
        transform: translateY(70%);
        border-radius: 50%;
        background-color: #90bab5; }
  .sidebar__recent__details {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .sidebar__recent__title {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.2; }
    .sidebar__recent__title:hover {
      text-decoration: none;
      color: #ff4800; }

.post__outline {
  position: relative; }
  .post__outline__image {
    position: relative; }
    .post__outline__image img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  .post__outline__image-outline {
    position: absolute;
    height: auto;
    width: 75%;
    height: 300px;
    border: 10px solid #90bab5; }
  .post__outline__text-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -80px; }
    .post__outline__text-wrapper--home1 {
      justify-content: center; }
  .post__outline__text {
    position: relative;
    background: #fff;
    padding: 15px;
    width: 80%; }
  .post__outline__title {
    font-size: 24px;
    text-transform: capitalize;
    font-family: "Bungee Hairline", cursive;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    color: #000; }
    .post__outline__title:hover {
      text-decoration: none;
      color: #1890ff; }
  .post__outline__desc {
    font-size: 16px;
    line-height: 1.35;
    margin: 10px 0;
    max-height: 80px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.6); }
    .post__outline__desc--home1 {
      max-height: 125px; }
  .post__outline__tag {
    display: flex;
    margin-bottom: 10px;
    font-size: 10px; }
    .post__outline__tag span {
      color: #90bab5;
      text-transform: uppercase;
      margin-right: 15px;
      font-weight: 600; }
  .post__outline__details {
    display: flex;
    align-items: center;
    margin-top: 5px; }
  .post__outline__date, .post__outline__author {
    align-items: center;
    font-size: 11px; }
    .post__outline__date .fas,
    .post__outline__date .fa, .post__outline__author .fas,
    .post__outline__author .fa {
      color: rgba(0, 0, 0, 0.45); }
    .post__outline__date span, .post__outline__author span {
      color: rgba(0, 0, 0, 0.45);
      text-transform: uppercase;
      font-weight: 600;
      padding-left: 4px; }
  .post__outline__date {
    margin-left: 25px; }
  .post__outline__link {
    padding-top: 5px;
    color: #90bab5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms; }
    .post__outline__link span {
      font-size: 13px; }
    .post__outline__link .fas {
      font-size: 11px;
      margin-left: 4px; }
    .post__outline__link:hover {
      transform: translateY(-3px);
      text-decoration: none;
      color: #90bab5; }
    .post__outline__link:active {
      transform: translateY(-1px); }
  .post__outline--3col__tag {
    font-size: 9px; }
  .post__outline--3col__title {
    font-size: 18px; }
  .post__outline--3col__author, .post__outline--3col__date {
    font-size: 10px; }
  .post__outline--3col__desc {
    font-size: 14px;
    max-height: 75px; }

.horizontal-banner img {
  width: 100%;
  height: auto;
  object-fit: cover; }

.masonry__image {
  margin-bottom: 15px; }
  .masonry__image img {
    width: 100%;
    max-height: 180px;
    object-fit: cover; }

.masonry__tags {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding-bottom: 5px; }
  .masonry__tags span {
    color: #90bab5;
    position: relative;
    text-transform: uppercase;
    margin-right: 25px;
    font-weight: 600; }
    .masonry__tags span:not(:last-child):after {
      content: ".";
      position: absolute;
      height: 5px;
      right: -15px;
      width: 5px;
      transform: translateY(100%);
      border-radius: 50%;
      background-color: #90bab5; }

.masonry__title {
  display: grid;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Bungee Hairline", cursive;
  text-decoration: none;
  color: #000;
  line-height: 1.2; }
  .masonry__title:hover {
    text-decoration: none;
    color: #ff4800; }

.masonry__desc {
  font-size: 14px; }

.card-horizontal__image {
  position: relative;
  cursor: pointer; }
  .card-horizontal__image:hover img {
    filter: brightness(0.5); }
  .card-horizontal__image img {
    width: 100%;
    height: 465px;
    object-fit: cover;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }

.card-horizontal__details {
  padding: 25px;
  padding-bottom: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  border-top: none;
  position: relative;
  z-index: 2;
  background: #fff; }

.card-horizontal__author {
  justify-content: space-between; }

.card-horizontal__title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding-bottom: 10px; }

.card-horizontal__tag {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 20px;
  transform: translateY(200%);
  z-index: 1;
  transition: transform 300ms; }
  .card-horizontal__tag span {
    margin-right: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6); }

.card-horizontal__image:hover .card-horizontal__tag {
  transform: translateY(0); }

.card-square__image {
  position: relative;
  cursor: pointer; }
  .card-square__image:hover img {
    filter: brightness(0.5); }
  .card-square__image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }

.card-square__image:hover .card-horizontal__tag {
  transform: translateY(0); }

.tags {
  display: flex;
  align-items: center;
  font-size: 9px; }
  .tags span {
    color: #90bab5;
    position: relative;
    text-transform: uppercase;
    margin-right: 25px;
    font-weight: 600; }
    .tags span:not(:last-child):after {
      content: "";
      position: absolute;
      height: 5px;
      right: -15px;
      width: 5px;
      transform: translateY(70%);
      border-radius: 50%;
      background-color: #90bab5; }

.testimonial {
  background: #fff9f5;
  padding: 20px; }
  .testimonial__text {
    font-size: 18px;
    position: relative;
    padding: 20px 40px;
    text-align: center;
    font-style: italic; }
    .testimonial__text::before {
      content: "\201C";
      position: absolute;
      left: 0px;
      top: 0px;
      font-size: 5rem; }
    .testimonial__text::after {
      content: "\201D";
      position: absolute;
      font-size: 5rem;
      right: 0px; }
  .testimonial__author {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
    .testimonial__author span {
      position: relative;
      margin-left: 10px; }
      .testimonial__author span::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 20px;
        background-color: #000;
        left: -10px;
        transform: translateX(-100%);
        top: 50%; }

.image-details {
  background: #fff9f5;
  text-align: center;
  padding: 3px;
  text-transform: capitalize;
  font-size: 12px;
  font-style: italic; }

.comment {
  padding: 20px 0; }
  .comment__input-wrapper {
    display: flex; }
  .comment__input {
    width: 50%;
    margin-bottom: 20px; }
    .comment__input:not(:last-child) {
      margin-right: 30px; }
  .comment .form-control--comment {
    height: 40px; }
  .comment .form-control {
    font-size: 16px; }
  .comment__label {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: capitalize; }
  .comment__textarea {
    width: 100%; }
  .comment__btn {
    margin: 15px 0; }

.comment-list {
  margin: 40px 0; }
  .comment-list__title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .comment-list__child {
    display: flex;
    padding-bottom: 25px; }
  .comment-list__image img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%; }
  .comment-list__details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .comment-list__name {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase; }
  .comment-list__time {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.45); }
  .comment-list__message {
    text-align: justify;
    font-size: 14px; }

.btn--primary {
  background-color: #ff4800;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 12px; }
