@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif; }

.u-no-margin {
  margin: 0; }

.u-no-padding {
  padding: 0; }

.sidebar-category {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover; }
